// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/* 
 * IndiumEngine Co.Ltd 2024-2025
 * for E4AP5G1-ITX Lite-server motherboard
 * Author: Jack.Pan (2320025806@qq.com)
 */

/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/leds/common.h>
#include <dt-bindings/pinctrl/rockchip.h>
#include <dt-bindings/display/rockchip_vop.h>
#include <dt-bindings/soc/rockchip,vop2.h>
#include "rk3568.dtsi"

/ {
	model = "IndiumEngine E4AP5G1-ITX (RK3568) DDR3-ECC Board";
	compatible = "rockchip,rk3568-e4ap5g1-itx", "rockchip,rk3568";

	aliases {
		ethernet1 = &gmac1;
		mmc0 = &sdmmc0;
	};

	chosen: chosen {
		stdout-path = "serial2:115200n8";
	};

	vcc3v3_sys: vcc3v3-sys-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_sys";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
	};

	vcc5v0_usb2: vcc5v0-usb-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio3 RK_PA0 GPIO_ACTIVE_HIGH>;
		regulator-boot-on;
		regulator-always-on;
		regulator-name = "vcc5v0_usb2";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	vcc5v0_usb3: vcc5v0-usb-host-regulator {
		compatible = "regulator-fixed";
		enable-active-high;
		gpio = <&gpio3 RK_PA1 GPIO_ACTIVE_HIGH>;
		regulator-boot-on;
		regulator-always-on;
		regulator-name = "vcc5v0_usb3";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";

		sys_led: led-0 {
			default-state = "off";
			function = LED_FUNCTION_STATUS;
			gpios = <&gpio4 RK_PC1 GPIO_ACTIVE_HIGH>;
		};
	};

};
&edac {
	status = "okay";
};

&cpu0 {
	cpu-supply = <&vdd_cpu>;
};

&vdpu {
	status = "okay";
};

&vdpu_mmu {
	status = "okay";
};

&vepu {
	status = "okay";
};

&vepu_mmu {
	status = "okay";
};

/*       combophy 设置为USB3+USB3+PCIE2x1*/
&combphy0_us {
    status = "okay";
};

&combphy1_usq {
	status = "okay";
};

&combphy2_psq {
	status = "okay";
};

&gmac1 {
	assigned-clocks = <&cru SCLK_GMAC1_RX_TX>, <&cru SCLK_GMAC1>;
	assigned-clock-parents = <&cru SCLK_GMAC1_RGMII_SPEED>;
	assign-clock-rate = <0>, <125000000>;

	clock_in_out = "output";
	phy-handle = <&rgmii_phy1>;
	phy-mode = "rgmii-rxid";
	pinctrl-names = "default";
	pinctrl-0 = <&gmac1m0_miim
		     &gmac1m0_tx_bus2
		     &gmac1m0_rx_bus2
		     &gmac1m0_rgmii_clk
		     &gmac1m0_rgmii_bus>;

	snps,reset-gpio = <&gpio3 RK_PC2 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	/* Reset time is 20ms, 100ms for rtl8211f */
	snps,reset-delays-us = <0 20000 100000>;

	tx_delay = <0x3c>;
	//rx_delay = <0x2f>;

	status = "okay";
};

&gpu {
	mali-supply = <&vdd_gpu>;
	status = "okay";
	/*增加2行以适配panfrost驱动*/
	clock-names = "gpu", "bus";
	interrupt-names = "gpu", "mmu", "job";
};

&iep_mmu {
	status = "okay";
};

&jpegd {
	status = "okay";
};

&jpegd_mmu {
	status = "okay";
};

&mpp_srv {
	status = "okay";
};

&rk_rga {
	status = "okay";
};

&rkvdec {
	rockchip,disable-auto-freq;
	assigned-clock-rates = <396000000>, <396000000>, <396000000>, <600000000>;
	status = "okay";
};

&rkvdec_mmu {
	status = "okay";
};

&rkvenc {
	venc-supply = <&vdd_logic>;
	status = "okay";
};

&rkvenc_mmu {
	status = "okay";
};

&vdpu {
	status = "okay";
};

&vdpu_mmu {
	status = "okay";
};

&vepu {
	status = "okay";
};

&vepu_mmu {
	status = "okay";
};

&rng {
	status = "okay";
};

&crypto {
	status = "okay";
};

/*       hdmi display        */
&hdmi {
   status = "okay";
};

&hdmi_in_vp0 {
	status = "okay";
};

&hdmi_in_vp1 {
	status = "disabled";
};

&hdmi_sound {
	status = "okay";
};

&route_hdmi {
	status = "okay";
	connect = <&vp0_out_hdmi>;
};
/*     dp display     */
&edp{
	status = "okay";
	hpd-gpios = <&gpio0 RK_PC2 GPIO_ACTIVE_HIGH>;
};

&edp_in_vp0{
	status = "disabled";
};

&edp_in_vp1 {
	status = "okay";
};

&edp_phy{
	status = "okay";
};

&route_edp {
	connect = <&vp1_out_edp>;
	status = "okay";
};

&i2c0 {
	status = "okay";
	i2c-scl-rising-time-ns = <160>;
	i2c-scl-falling-time-ns = <30>;
	clock-frequency = <400000>;

	vdd_cpu: tcs4525@1c {
		compatible = "tcs,tcs4525";
		reg = <0x1c>;
		regulator-compatible = "fan53555-reg";
		regulator-name = "vdd_cpu";
		regulator-min-microvolt = <712500>;
		regulator-max-microvolt = <1390000>;
		regulator-init-microvolt = <900000>;
		regulator-ramp-delay = <2300>;
		fcs,suspend-voltage-selector = <1>;
		regulator-boot-on;
		regulator-always-on;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	rk809: pmic@20 {
		compatible = "rockchip,rk809";
		reg = <0x20>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA3 IRQ_TYPE_LEVEL_LOW>;
		#clock-cells = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_int>;
		rockchip,system-power-controller;
		vcc1-supply = <&vcc3v3_sys>;
		vcc2-supply = <&vcc3v3_sys>;
		vcc3-supply = <&vcc3v3_sys>;
		vcc4-supply = <&vcc3v3_sys>;
		vcc5-supply = <&vcc3v3_sys>;
		vcc6-supply = <&vcc3v3_sys>;
		vcc7-supply = <&vcc3v3_sys>;
		vcc8-supply = <&vcc3v3_sys>;
		vcc9-supply = <&vcc3v3_sys>;
		wakeup-source;

		rtc {
			status = "disabled";
		};

		regulators {
			vdd_logic: DCDC_REG1 {
				regulator-name = "vdd_logic";
				regulator-always-on;
				regulator-boot-on;
				regulator-init-microvolt = <900000>;
				regulator-initial-mode = <0x2>;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_gpu: DCDC_REG2 {
				regulator-name = "vdd_gpu";
				regulator-always-on;
				regulator-init-microvolt = <900000>;
				regulator-initial-mode = <0x2>;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_ddr: DCDC_REG3 {
				regulator-name = "vcc_ddr";
				regulator-always-on;
				regulator-boot-on;
				regulator-initial-mode = <0x2>;

				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vdd_npu: DCDC_REG4 {
				regulator-name = "vdd_npu";
				regulator-init-microvolt = <900000>;
				regulator-initial-mode = <0x2>;
				regulator-min-microvolt = <500000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v8: DCDC_REG5 {
				regulator-name = "vcc_1v8";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda0v9_image: LDO_REG1 {
				regulator-name = "vdda0v9_image";
				regulator-always-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda_0v9: LDO_REG2 {
				regulator-name = "vdda_0v9";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdda0v9_pmu: LDO_REG3 {
				regulator-name = "vdda0v9_pmu";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <900000>;
				regulator-max-microvolt = <900000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <900000>;
				};
			};

			vccio_sd: LDO_REG5 {
				regulator-name = "vccio_sd";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3300000>;

				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_pmu: LDO_REG6 {
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <3300000>;
				regulator-max-microvolt = <3300000>;
				regulator-name = "vcc3v3_pmu";
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3300000>;
				};
			};

			vcca_1v8: LDO_REG7 {
				regulator-name = "vcca_1v8";
				regulator-always-on;
				regulator-boot-on;
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;

				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcc_3v3: SWITCH_REG1 {
				regulator-name = "vcc_3v3";
				regulator-always-on;
				regulator-boot-on;
				
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};
		};
	};
};

&i2c1 {
	status = "okay";


    sys_rtc: rx8025@32 {
        compatible = "epson,rx8025t";
        reg = <0x32>;
        status = "okay";
    };


	pcie_sw_sensor: lm75b@48{
		compatible = "national,lm75b";
		reg = <0x48>;
		status = "okay";
	};
};

&i2c2 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&i2c2m1_xfer>;
};

&i2c4{
	status = "okay"; 
};

&i2s0_8ch {
	/* hdmi sound */
	status = "okay";
};

&mdio1 {
	rgmii_phy1: ethernet-phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
	};
};

&pcie30phy {
	status = "okay";
};

&pcie3x2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pcie30x2m1_pins>;
	reset-gpios = <&gpio2 RK_PD6 GPIO_ACTIVE_HIGH>;
	//reset-gpios = <&gpio2 RK_PD7 GPIO_ACTIVE_LOW>;	//for test
	vpcie3v3-supply = <&vcc3v3_sys>;
	status = "okay";
};

&pinctrl {
	
	// PWM0 作为风扇调速输出
    pwm0 {
        pwm0_pin: pwm0-pin {
            rockchip,pins = <0 RK_PB5 1 &pcfg_pull_none>;
        };
    };

    // PWM1 作为风扇转速输入
    pwm1 {
        pwm1_pin: pwm1-pin {
            rockchip,pins = <0 RK_PB6 0 &pcfg_pull_none>;
        };
    };

    // PWM2 作为蜂鸣器输出
    pwm2 {
        pwm2_pin: pwm2-pin {
            rockchip,pins = <0 RK_PB7 1 &pcfg_pull_none>;
        };
    };
	

    i2c2 {
        /omit-if-no-ref/
        i2c2m1_xfer: i2c2m1-xfer {
            rockchip,pins =
                /* I2C2_SCL_M1 */
                <4 RK_PB5 2 &pcfg_pull_none>,
                /* I2C2_SDA_M1 */
                <4 RK_PB4 2 &pcfg_pull_none>;
        };
    };

	leds {
		sys_led_pins: sys_led_pins {
			rockchip,pins = <4 RK_PC1 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	pmic {
		pmic_int: pmic_int {
			rockchip,pins =
				<0 RK_PA3 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	pcie30x2 {
		pcie30x2m1_pins: pcie30x2m1-pins {
			rockchip,pins =
				<2 RK_PD4 4 &pcfg_pull_up>,
				<2 RK_PD6 RK_FUNC_GPIO &pcfg_pull_up>,
				<2 RK_PD5 4 &pcfg_pull_up>;
		};
	};

	pcie20 {
		pcie20m1_pins: pcie20m1-pins {
			rockchip,pins =
				<2 RK_PD0 4 &pcfg_pull_up>,
				<3 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>,
				<2 RK_PD1 4 &pcfg_pull_up>;
		};
	};

};

&pmu_io_domains {
	pmuio1-supply = <&vcc_3v3>;
	pmuio2-supply = <&vcc_3v3>;
	vccio1-supply = <&vcc_3v3>;
	vccio2-supply = <&vcc_1v8>;
	vccio3-supply = <&vccio_sd>;
	vccio4-supply = <&vcc_3v3>;
	vccio5-supply = <&vcc_3v3>;
	vccio6-supply = <&vcc_3v3>;
	vccio7-supply = <&vcc_3v3>;
	status = "okay";
};
/*
&pwm0 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pwm0_pin>;
    duty-cycle = <50>;
};

&pwm1 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pwm1_pin>;
    // 配置为 GPIO 输入模式（用于测速）
    rockchip,pwm-mode = <0>; // 0=GPIO, 1=PWM
};

&pwm2 {
    status = "okay";
    pinctrl-names = "default";
    pinctrl-0 = <&pwm2_pin>;
    duty-cycle = <0>;
};
*/
&saradc {
	vref-supply = <&vcca_1v8>;
	status = "okay";
};

&sdhci {
	bus-width = <8>;
	max-frequency = <200000000>;
	non-removable;
	pinctrl-names = "default";
	pinctrl-0 = <&emmc_bus8 &emmc_clk &emmc_cmd &emmc_datastrobe>;
	status = "okay";
};

&sdmmc0 {
	bus-width = <4>;
	cap-sd-highspeed;
	cd-gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_LOW>;
	disable-wp;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_bus4 &sdmmc0_clk &sdmmc0_cmd &sdmmc0_det>;
	sd-uhs-sdr104;
	vmmc-supply = <&vcc_3v3>;
	vqmmc-supply = <&vccio_sd>;
	status = "okay";
};

&spi3 {
	/* pin 19 (MO) + 21 (MI) + 23 (CK) of header con2 */
	/* shared with pwm12/14/15 and uart9 */
	pinctrl-0 = <&spi3m1_pins>;
	status = "disabled";
};

&tsadc {
	rockchip,hw-tshut-mode = <1>;
	rockchip,hw-tshut-polarity = <0>;
	status = "okay";
};

&uart2 {
	/* debug-uart */
	status = "okay";
};

/*    uart 3 4 6 1 in header    */
&uart3 {
	status = "okay";
};

&uart4 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart6 {
	status = "okay";
};

/*     启用usb2.0 phys     */
&u2phy0_host {
	status = "okay";
};

&u2phy0_otg {
	status = "okay";
};

&u2phy1_host {
	status = "okay";
};

&u2phy1_otg {
	status = "okay";
};

&usb2phy0 {
	status = "okay";
};

&usb2phy1 {
	status = "okay";
};

/*       启用usb2 usb3控制器         */

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};

&usbdrd_dwc3 {
	dr_mode = "host";
	extcon = <&usb2phy0>;
	status = "okay";
};

&usbdrd30 {
	status = "okay";
};

&usbhost_dwc3 {
	status = "okay";
};

&usbhost30 {
	status = "okay";
};

/*     启用PCIE2x1       */
&pcie2x1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&pcie20m1_pins>;
	num-viewport = <4>;
	reset-gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_HIGH>;
};


/*     vop子系统       */
&video_phy0 {
	status = "disabled";
};

&video_phy1 {
	status = "disabled";
};

&display_subsystem {
	status = "okay";
};

&vop {
	status = "okay";
	vop-supply = <&vdd_logic>;
	assigned-clocks = <&cru DCLK_VOP0>, <&cru DCLK_VOP1>, <&cru DCLK_VOP2>;
	assigned-clock-parents = <&pmucru PLL_HPLL>, <&cru PLL_VPLL>, <&cru PLL_GPLL>;
	support-multi-area;
};

&vop_mmu {
	status = "okay";
};

&vp0 {
	rockchip,plane-mask = <(
				1 << ROCKCHIP_VOP2_CLUSTER0 | 1 << ROCKCHIP_VOP2_ESMART0 |
				1 << ROCKCHIP_VOP2_CLUSTER1 | 1 << ROCKCHIP_VOP2_ESMART1 )>;
	rockchip,primary-plane = <ROCKCHIP_VOP2_ESMART0>;
	//cursor-win-id = <ROCKCHIP_VOP2_ESMART1>; 使用panfrost驱动时不能有这一行
};

&vp1 {
	rockchip,plane-mask = <(1 << ROCKCHIP_VOP2_SMART0 | 1 << ROCKCHIP_VOP2_SMART1)>;
	rockchip,primary-plane = <ROCKCHIP_VOP2_SMART0>;
};

&vp2 {
	status = "disabled";
};

&wdt {
	status = "okay";
};
